# GenLayer Contract Address (deploy contract first, then add address here)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xe2547FebeA27d36714366E8b9C45eF986556C744

# Network: studionet | localnet | testnetBradbury | testnetAsimov
NEXT_PUBLIC_NETWORK=studionet
