# GenLayer Contract Address (deploy contract first, then add address here)
NEXT_PUBLIC_CONTRACT_ADDRESS=0x673d1C55F451aBbAeBcE6E79af17f1d5b01c271c

# Network: studionet | localnet | testnetBradbury | testnetAsimov
NEXT_PUBLIC_NETWORK=studionet
