# GenLayer Contract Address (deploy contract first, then add address here)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xAdd797fA9572D41B0E3ECcDd37b67ef517Fb0fBF

# Network: studionet | localnet | testnetBradbury | testnetAsimov
NEXT_PUBLIC_NETWORK=studionet
